.Login_Button {
    border-bottom: 1px; 
}
.image_Avatar {
    border-radius: 100%;
    width: 50px;
    height: 35px;
}
.google_LoginButton{
    display:flex;
    justify-content: center;
    align-items: center;
}
.google_LoginButton img {
    padding-right:10px;
}
.google_LoginButton div {
    padding-right:10px;
}